.home{
    height: calc(100vh - 13.5vmin);
}
.navbar{
    width: 100%;
    height: 13.5vmin;
    position: sticky;
    background-color: whitesmoke;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    top:0;
}
.headingtext{
    margin: auto 46px;
    color:black;
    white-space: nowrap;
    font-size: 3vmin;
    font-family: adobeClean-BoldCond;
}
.menubar{
    width: fit-content;
    display: -webkit-inline-box;
    margin-right: 20px;
}
.menutext{
    color: black;
    filter: brightness(2);
    font-size: 2.7vmin;
    white-space: nowrap;
    padding-right: 5vmin;
    font-family: adobeClean-SemiCn;
}
.menubutton{
    display: none;
    font-family: Material Icons;
    font-family: Material Icons;
    color: black;
    font-size: xx-large;
}
.menulist{
    display: none;
    transition: 0.5s ease-in-out;
}


.menutext:hover{
    filter:opacity(1);
    cursor: pointer;
}
.menutext .active{
    border-bottom: inset aquamarine;
}
.menutext:visited{
    filter: hue-rotate(45deg);
}
.visualbar{
    height: 100%;
    width: 100%;
    background-color: white;
    /* background: url(../img/rectangle.svg); */
    background-size: cover;
    /* opacity: 73%;
    filter: blur(10px); */
    display: flex;
    justify-content: center;
}
.visualbar:hover, .visualbar:nth-child(1):hover{
    opacity: 73%;
    cursor: pointer;
}
.visualbar img{
    height: 100%;
    max-width: 100%;

    /* background:url(../img/utatats.jpg); */
}
h2{
    color: burlywood;
    font-family: adobeClean-ExtraBold;
    position: absolute;
    font-size: 8vmin;
    z-index: 1;
    left: 13.5vmin;
    bottom: 30vmin;
}

h2:hover{
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.349));
    cursor: pointer;
}
h2::after{
    content: "Are you thinking about developing a series? Get in touch with one of our team members for an in depth overview.";
    font-family: adobeClean-Condlt;
    position: absolute;
    top: 100%;
    right: 13.5vmin;
    font-size: 3.25vmin;
    color: black;
    width: 73vmin;
    box-sizing: border-box;
}

.textblock{
    background-color: transparent;
    width: 25vw;
    height: 30vw;
    position: relative;
    /* min-width: 260px;
    min-height: 200px; */
    margin:1vh;
    border-radius: 1pc;
    line-height: 1.5;
}
.articletext{
    padding: 1em;
}
p{
    font-family: adobeClean-Condlt;
    color: white;
    padding: 0 2.7em;
    position: absolute;
    top: 73%;
}
.flames{
    height: 14vw;
    width: 10vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}
@media only screen and (max-width: 800px){
    .home{
        width: -webkit-fill-available;
        flex-wrap:nowrap;
        flex-direction: column;
    }

    .menubutton{
        display: inline;
        margin-right:27px;
    }
    .menulist.active{
        display: inline-grid;
        flex-direction: column;
        position: absolute;
        top: 13.5vmin;
        width: 50vmin;
        height: 70vmin;
        left: 0;
        justify-content: space-evenly;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        background: white;
        align-items: center;
    }
    .menubutton:hover{
        cursor: pointer;        
        color: #ff00fff5;
    }
    .menutext{
        color: black;
        width: 100%;
    }
    .menutext:hover{
        cursor: pointer;
        background:rgba(0, 0, 0, 0.274);
    }
    .menubar{
        display: none;
    }
    .visualbar{
        height: 100%;
    }
    .textblock{
        width: initial;
        height: initial;
    }
    .articletext{
        padding: 0.5em;
    }
    .flames{
        height: 24vw;
        width: 20vw;
    }

    h2{
        width: initial;
        padding: 0;
    }

}
@media only screen and (max-height: 600px){
    h2{
        width: initial;
        padding: 0;
    }
    h2::after{
        padding: 2.7em 0 0 0;
    }
}