.home{
    height: 100vh;
    /* width: calc(100vw - 1em); */
    margin:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    position: relative;
}
.navbar{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    background-color: #760D95;
    justify-content: center;
    margin-bottom: 1vh;
}
.headingtext{
    margin:auto;
    font-family: 'Segoe UI Symbol';
    width: fit-content;
    color:white;
    
    font-size: 2vw;
}
.menubar{
    width: 87%;
    margin: auto;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}
.menutext{
    font-family: Segoe UI;
    color: white;
    font-size: 1vw;
    font-weight: 700;
}
.menutext:hover{
    cursor: pointer;
}
.visualbar{
    width: 55vw;
    height: 76vh;
    background-color: black;
    margin: 1vh;
    border-radius: 1pc;
    background: url(../img/utatasquad.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
}
.playpad{
    background: url(../img/play_padding.jpg);
    width: 10%;
    float: right;
    opacity: 30%;
    display: flex;
}
.playpad:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.playbutton{
    background: url(../img/play_button.jpg);
    width: 45px;
    height: 45px;
    margin: auto;
}
.playbutton:hover{
    cursor: pointer;
}
.textblock{
    background-color: transparent;
    width: 25vw;
    height: 30vw;
    position: relative;
    /* min-width: 260px;
    min-height: 200px; */
    margin:1vh;
    border-radius: 1pc;
}
.articletext{
    font-family: opus chords std;
    font-size: 3vw;
    padding: 1em;
}
p{
    font-family: Agency FB;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.5em;
    margin: 0;
}
.flames{
    background: url(../img/flames.jpg);
    height: 14vw;
    width: 10vw;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}
@media only screen and (max-width: 800px){
    .home{
        width: -webkit-fill-available;
        flex-wrap:nowrap;
        flex-direction: column;
    }
    .headingtext{
        font-size: initial;
    }
    .menutext{
        font-size: xx-small;
    }
    .visualbar{
        width: -webkit-fill-available;
        font-size: xx-small;
        height: 300px;
    }
    .textblock{
        width: initial;
        height: initial;
    }
    .articletext{
        font-size: xx-large;
        padding: 0.5em;
    }
    .flames{
        height: 24vw;
        width: 20vw;
    }
    p{
        font-size: x-large;
    }
    

}