.profile{
    width: -webkit-fill-available;
    height: calc(100vh - 13.5vmin);
    display: flex;
    flex-direction: row;
    position: relative;
    scroll-margin-top: 14vmin;
}
.ah, .staffprofile{
    padding: 10vmin;
    width: 50%;
}

.staffprofile{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.avatarblock{
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 1pc;
    position: relative;
}

.avatarprofiles,.avatar{
    width: -webkit-fill-available;
    height: 236px;
    background-repeat: no-repeat;
}
.avatar{
    width: 45vmin;
    height: 45vmin;
    background-size: contain;
}
.avatarprofiles{
    display: -webkit-box;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
.pagetitle{
    margin:auto;
    text-align: center;
}
.passport {
    width: 10vw;
    height: 10vw;
    background-size: cover;
}
.textdiv{
    margin-left: 30%;
}
.passportblock{
    width: fit-content;
    filter: brightness(0.5);
    height: fit-content;
}
.passportblock:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    box-shadow: 0 2px 2px 0 rgb(139 25 167 / 16%), 0 0 0 1px rgb(98 50 160 / 8%);
    filter:brightness(1)
}
.passportblock.passportactive{
    filter: brightness(1)
}
ul.avatarul {
    padding: 0;
    display: -webkit-box;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    position: relative;
}
.cancelbutton{
    background: url(../img/cancel.svg);
    border:none;
    outline:none;
    position: absolute;
    top:10px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 2;
}
.cancelbutton:hover{
    cursor: pointer;
}
.cancelbuttonwhite{
    background: url(../img/cancelwhite.svg);
    border:none;
    outline:none;
    position: absolute;
    top:10px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 2;
}
.cancelbuttonwhite:hover{
    cursor: pointer;
}
.avatarcard{
    height: 100%;
    width: 100%;
}
.avatarcard p{
    position: unset;
}
@media only screen and (max-width: 1024px){
    .profile{
        flex-direction: column;
        align-items: center;
    }
    .staffprofile{
        padding: 5vmin;
        width: calc(100% - 5vmin);

    }
    .ah {
        padding: 5vmin;
        width: calc(100% - 5vmin)
    }
    .passportblock{
        width: initial;
    }
    .avatarcard {
        width: calc(100vw - 5vmin);
    }
}
@media only screen and (max-height: 800px){
    .profile{
        height: fit-content;
        min-height: calc(100vh - 13.5vmin);
    }
}
