.profile{
    width: -webkit-fill-available;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 1em;
    position: relative;
}
.avatarblock, .staffprofile{
    width: 50%;
    height: 100%;
}
.avatarblock{
    box-shadow: 0 1px 4px black;
    border-radius: 1pc;
    position: relative;
}

.avatarprofiles,.avatar{
    width: -webkit-fill-available;
    height: 236px;
    background-repeat: no-repeat;
}
.avatarprofiles{
    display: -webkit-box;
    overflow: hidden;
    scroll-behavior: smooth;
}
.pagetitle{
    font-family: Agency FB;
    font-size:2vw;
    margin:auto;
    text-align: center;
    font-weight: 600;
}
.passport {
    width: 93px;
    height: 93px;
    background-size: cover;
}
.textdiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30%;
}
.passportblock{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    background-color: white;
    width: 40vw;
    transform: matrix(1,0,0,1,0,0);
    border-radius: 2pc;
    margin: 1vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.passportblock:hover{
    cursor: pointer;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 3px 6px rgba(93, 40, 174, 1));
}
@media only screen and (max-width: 800px){
    .profile{
        height: 200vh;
        flex-direction: column;
    }
    .avatarblock, .staffprofile {
        width: -webkit-fill-available;
        height: 100%;
    }
    .passportblock{
        width: initial;
    }
}
