@import url(./fonts.css);
html{
    scroll-behavior: smooth;
    font-size: 5vmin;
    box-sizing: border-box;
    background: url(./img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1vmin;
}
::-webkit-scrollbar{
    width: 10px;
}
body{
    margin:0;

}
svg{
    width: 100%;
}
.torsoe{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height: -webkit-fill-available;
    width: 100%;
    scroll-behavior: smooth;

}


button{
    outline:none;
    border:none;
    background-color: transparent;
}

.holder{
    height: 0;
    position: relative;
}
.pagetitle{
    white-space: nowrap;
}
@media only screen and (max-width: 800px){
    .pagetitle {
    }
    /* .home,.content.profile{
        margin-bottom: 1vh;
    } */
}