html{
    scroll-behavior: smooth;
}
body{
    margin:0;
}
button{
    outline:none;
    border:none;
    background-color: transparent;
}
.hidden{
}
@media only screen and (max-width: 800px){
    .pagetitle {
        font-size: x-large;
        width: 34vw;
    }
    .home,.content.profile{
        margin-bottom: 1vh;
    }
}